:javascript
  $(function () {
    var chart,
        cpu = #{o[:cpu][:stats]},
        disk = #{o[:disk][:stats]},
        mem = #{o[:mem][:stats]},
        swap = #{o[:swap][:stats]},
        time = #{o[:time][:stats]},
        temp = #{o[:temp][:stats]},
        titleStats = [ { 'legend' : 'CPU', 'stat' : cpu[cpu.length - 1], 'color' : '#{o[:cpu][:color]}', 'unit' : '#{o[:cpu][:unit]}' } ,
                       { 'legend' : 'MEM', 'stat' : mem[mem.length - 1], 'color' : '#{o[:mem][:color]}', 'unit' : '#{o[:mem][:unit]}' } ,
                       { 'legend' : 'SWAP', 'stat' : swap[swap.length - 1], 'color' : '#{o[:swap][:color]}', 'unit' : '#{o[:swap][:unit]}'},
                       { 'legend' : 'DISK', 'stat' : disk[disk.length - 1], 'color' : '#{o[:disk][:color]}', 'unit' : '#{o[:disk][:unit]}'},
                       { 'legend' : 'TEMP', 'stat' : temp[temp.length - 1], 'color' : '#{o[:temp][:color]}', 'unit' : '#{o[:temp][:unit]}'} ],
        i = 0;
    
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'chart',
                type: 'line',
                marginRight: 130,
                marginBottom: 25
            },
            title: {
                text: 'Pimon',
                x: -20
            },
            subtitle: {
                text: 'My raspberry PI',
                x: -20
            },
            xAxis: {
                categories: time
            },
            yAxis: {
                title: {
                    text: 'Usage'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                max: 100,
                min: 0
            },
            tooltip: {
                formatter: function() {
                        return '<b>'+ this.series.name +'</b><br/>'+
                        this.x +': '+ this.y + (this.series.name === 'temp' ? '#{o[:temp][:unit]}' : '%');
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -10,
                y: 100,
                borderWidth: 0
            },
            series: [{
                name: 'cpu',
                color: '#{o[:cpu][:color]}',
                data: cpu
            },
            {
                name: 'mem',
                color: '#{o[:mem][:color]}',
                data: mem
            },
            {
                name: 'swap',
                color: '#{o[:swap][:color]}',
                data: swap
            },
            {
                name: 'disk',
                color: '#{o[:disk][:color]}',
                data: disk
            },
            {
                name: 'temp',
                color: '#{o[:temp][:color]}',
                data: temp
            }],
            credits: {
                enabled: false
            }
        });
    });
    
    function changeFavicon() {
      Piecon.setOptions({
        color: titleStats[i]['color'], // Pie chart color
        background: '#bbb', // Empty pie chart color
        shadow: '#fff', // Outer ring color
        fallback: 'force' // Toggles displaying percentage in the title bar (possible values - true, false, 'force')
      });
      Piecon.setProgress(titleStats[i]['stat']);
      
      $('title').text(titleStats[i]['stat'] + titleStats[i]['unit'] + ' ' + titleStats[i]['legend'])
      i++;
      if (i >= titleStats.length) {
        i = 0;
      } 
    }
    
    setInterval(changeFavicon, 3000);
    changeFavicon();
    setTimeout(function() {
      window.location.reload();
    }, #{@o[:refresh_interval_in_millis]});
  });
